<template>
  <section class="container">
    <div>
      <h1 class="title">
        About page
      </h1>
      <h2 class="subtitle">
        Nuxt.js example for GitLab Pages
      </h2>
      <div class="links">
        <a
          href="/"
          class="button--red"
        >Home</a>
      </div>
    </div>
  </section>
</template>
